# Build directories
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/

# Visual Studio
.vs/
*.suo
*.user

# NuGet packages
packages/
*.nupkg

# Debug/Cache
*.pdb
*.log
*.cache

# Windows junk
Thumbs.db
Desktop.ini

# Chặn CSDL
#Store/bin/Debug/net9.0/store

